.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;
}

.all-services {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}
.service {
  width: 28%;

  background: linear-gradient(
    to top right,
    rgba(255, 255, 255, 0.783) 70%,
    rgba(255, 255, 255, 0) 100%
  );
  transition: 0.7s;
  border-radius: 30px;

  color: black;
}
.service:hover {
  transform: scale(1.03);
}
.service-icon {
  padding: 20px;
  padding-bottom: 0px;
  width: 30px;
  font-weight: 300;
}
.service-img {
  width: 380px !important;
  height: 180px !important;
  padding: 40px;
  padding-bottom: 20px;
  padding-top: 0px;
  border-radius: 0px 0px 0px 250px;
}

.back h1 {
  padding: 40px;
  padding-top: 0px;
  position: absolute;
  top: 0px;
  left: 0px;
  font-size: 100px;
  color: rgba(0, 0, 0, 0.137); /* faded color */
  z-index: 0;
  pointer-events: none;
}
.service *:not(.back h1) {
  position: relative;
  z-index: 1;
}
.heading {
  padding: 40px;
  padding-bottom: 20px;
  font-weight: 400;
}
.service p {
  padding: 0px 40px 0px 40px;
  padding-bottom: 50px;
}

@media (max-width: 768px) {
  .all-services {
    flex-direction: column;
    gap: 50px;
  }
  .service {
    width: 100%;
  }
  .services {
    padding: 0 30px;
    gap: 50px;
  }
  .service-img {
    width: 340px !important;
    padding-left: 10px;
  }
  .heading {
    padding: 20px;
  }
  .service p {
    padding-bottom: 20px;
  }
}
